{% block footer %}
    <header>
        <nav class="navigation">
            <ul>
                <li><a href={{"xhavlikvojtech_new"}}>New</a></li>
                <li><a href={{"xhavlikvojtech_delete"}}>Delete</a></li>
                <li><a href={{"xhavlikvojtech_edit"}}>Edit</a></li>
                <li><a href={{"xhavlikvojtech_detail"}}>Detail</a></li>
                <li><a href={{"/"}}>Zpet na Homepage</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}